/* Общие стили */
body {
    margin: 0;
    font-family: monospace;
    background-color: black;
    animation: pulseBackground 15s infinite alternate;
    overflow: hidden;
}

/* Стили для шапки */
.header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    margin: 0;
    display: flex;
    align-items: center;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Добавлено для выравнивания navbar1 слева, а navbar2 справа */
    width: 100%; /* Добавлено для равномерного распределения пространства */
}

.navbar1, .navbar2 {
    font-size: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar1{
    margin-left: 50px;
}

.b1 {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.5s;
}

.b1:hover {

    color: #12c2e9;
}

/* Стили для выпадающего меню */

                    /* research */
.dropdown-content_research {
    font-size: 20px;
    display: none;
    position: absolute;        
    z-index: 1;
    width: 120px;
    
}

.dropdown-content_research a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_research a:hover {
    color: grey; /* Эффект при наведении на пункт меню */
}

.dropdown_research:hover .dropdown-content_research {
    display: block;
}

                    /* product */
.dropdown-content_product {
    font-size: 20px;
    display: none;
    position: absolute;        
    z-index: 1;
    width: 120px;
    
}

.dropdown-content_product a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_product a:hover {
    color: grey; /* Эффект при наведении на пункт меню */
}

.dropdown_product:hover .dropdown-content_product {
    display: block;
}

                            /* develompers */



/* Анимация для заднего фона */
@keyframes pulseBackground {
    0% {
        background-color: black;
    }
    25%{
        background-color: rgb(10, 8, 78);
    }
    
    50% {
        background-color: rgb(9, 47, 9);
    }
    75%{
        background-color: #3f094d;
    }
    100% {
        background-color: black;
    }
}


/* Your existing CSS styles here */

.text-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.center-text {
    font-size: 36px;
    color: white;
    opacity: 0;
    transform: translateY(-50px);
}

.hidden {
    display: none;
}



.text-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.center-text {
    font-size: 36px;
    color: white;
    opacity: 0;
    transform: translateY(-50px);
}

.hidden {
    display: none;
}



 .lower_text{
    font-size: 18px; 
    color: white; 
    text-align: start; 
    text-decoration: none;
    position: absolute;
    margin-left: 50px;
    bottom: 0;
    width: 100%;
    padding: 20px 0;



} 
