/* Общие стили */
body {
    margin: 0;
    background-color: ;
    font-family: monospace;
}

/* Стили для шапки */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    margin: 0;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Добавлено для выравнивания navbar1 слева, а navbar2 справа */
    width: 100%; /* Добавлено для равномерного распределения пространства */
}

.navbar1, .navbar2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.b1 {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
}

.b1:hover {
    color: #12c2e9;
}
